.signupform,.loginform{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
}
.aa,.ee{
    border: 1px solid #ccc;
}
.emails input,.password input{
    border-radius: 5px;
    border: 1px solid #757272;
}