.herosec-content,
.aboutus,
.aboutus-content,
.whatsnew-content h5,
.whatsnew-content p,
.whatsnew-content h4,
.favorite,
.productdetails h6,
.productdetails h5,
.productdetails p,
.product,
.contact,
.contact-content {
    color: #5E0F12;
}

.whatsnew-image {
    border: 1px solid #FFF8ED;
    background-color: #FFF8ED;

}

.whatsnew-content {
    border: 4px solid #FFF8ED;
}

.learnmorebtn {
    border: 1px solid #5E0F12;
    background-color: #5E0F12;
    color: white;
}

.favorite {
    border: 1px solid #FFF8ED;
    background-color: #FFF8ED;
}

.learnmorebtn1 {
    border: 1px solid #5E0F12;
    background-color: #FFF8ED;
    color: #5E0F12;
}

.productdetails {
    border: 1px solid #FFF8ED;
    background-color: #FFF8ED;
}

.contactform {
    border: 1px solid rgb(208, 205, 205);
    box-shadow: 0 0 5px rgb(155, 154, 154);
}

.name input,
.email input,
.service input,
.state input,
.city input,
.guest input,
.date input {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    border-radius: 5px;
    outline: none;
}

.name input::placeholder,
.email input::placeholder,
.service input::placeholder,
.state input::placeholder,
.city input::placeholder,
.guest input::placeholder {
    color: black;
}
.footer{
    background-color: #5E0F12;
}
.submitbtn{
    border: 1px solid white;
    background-color: white;
    color: #5E0F12;
}

@media screen and (max-width:500px) {
    .whatsnew-image img{
        width: 400px;
    }

    .whatsnew-image,.whatsnew-content h5,.whatsnew-content p,.whatsnew-content h4,.whatsnew-content button,.favorite h2,.moreways,.contactimage img{
        display: none;
    }

    .ice2,.ice3{
        padding-top: 30px;
    }
}