.card-title{
    color: #5E0F12;
}
.bg-product{
    background-color: #FFF8ED;
}
.buy {
    border: 1px solid #5E0F12;
    background-color: #5E0F12;
    color: white;
}
/* .icecream-images img{
    width: 190px;
} */
/* .items{
    overflow: hidden;
} */